<h1>Users</h1>
<ul>

    <% user.forEach(el=> { %>
<li><%= el.name %></li>
        <%}) %>
</ul>

<h1>Lesson</h1>
<ul>

    <% lessons.forEach(el=> { %>
<li><%= el.title %></li>
        <%}) %>
</ul>
<h1>Course</h1>
<ul>

    <% course.forEach(el=> { %>
<li><%= el.title %></li>
        <%}) %>
</ul>